/*$ Reseteo de Paul Irish*/
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	background-color: teal;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

/*$ Elimina ScroolBar Lateral */
::-webkit-scrollbar {
	width: 0px;
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: #fff;
}

body {
	margin-top: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calculadora {
	background-color: tan;
	padding: 20px;
	border: 1px solid #151515;
	border-radius: 25px;
	display: block;
	justify-content: center;
}

.display {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.8rem;
	font-weight: 900;
    text-align: right;
	background-color: darkgray;
	color: #151515;
	height: 50px;
	width: 260px;
	padding: 0px;
	/* border: 1px solid #151515; */
	border-radius: 10px;
}
.botones {
	height: 16rem;
	padding: 0px;
	/* border: 1px solid #151515; */
}

.boton {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.8rem;
	font-weight: 900;
	background-color: palegoldenrod;
	color: #151515;
	margin: 0.4rem;
	height: 3rem;
	width: 3rem;
	padding: 0;
	border: 1px solid #151515;
	border-radius: 100%;
}

.botones input[type='textfield'] {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.8rem;
	font-weight: 900;
	background-color: palegoldenrod;
	color: #151515;
	margin: 0.4rem;
	height: 3rem;
	width: 3rem;
	padding: 0;
	border: 1px solid #151515;
	border-radius: 100%;
	cursor: default;
	text-align: right;
	border: 0;
	outline: none;
}

.botones input[type='button'],
[type='reset'] {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.8rem;
	font-weight: 900;
	background-color: palegoldenrod;
	color: #151515;
	margin: 0.4rem;
	height: 3rem;
	width: 3rem;
	padding: 0;
	border: 1px solid #151515;
	border-radius: 100%;
	cursor: pointer;
}

.botones #btn1 {
	background-color: rgb(59, 59, 58);
	color: white !important;
}

.botones #btn2 {
	background-color: #773c04;
	color: white !important;
}

/* 
body{
    margin-top: 5rem;
    background-color: #2C434D;
    display: flex;
    justify-content: center;
    align-items: center;
}

#appbg{
    height: 420px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

#appBg form{
    height: 100%;
    width: 100%;
    background-color: #2C434D;
}


}
 */
